<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/c" method="POST">
    <input type="text" class="form-control" name="id" id="exampleInputAmount" placeholder="id">
    <input type="text" class="form-control" name="书名" id="exampleInputAmount" placeholder="书名">
    <input type="text" class="form-control" name="作者" id="exampleInputAmount" placeholder="作者">
    <input type="text" class="form-control" name="出版社" id="exampleInputAmount" placeholder="出版社">
    <input type="text" class="form-control" name="价格" id="exampleInputAmount" placeholder="价格">
    <input type="submit" value="提交">
    </form>
</body>
</html>